*.a
*.so
*.lib
*.dll
*.exe

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# CTest
CTestTestfile.cmake
Testing

# Makefile
Makefile
*.o
*.obj

# MSVC
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
.vs/
Win32/
x64/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

# Kate
*.kateproject

# Eclipse
.cproject
.project

# CodeLite
*.project
*.workspace

# Sublime Text 2
*.sublime-project

# CodeBlocks
*.cbp
### https://raw.github.com/github/gitignore/1a9f616ce525987555d43c72d59eb830d1856bd7/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
